%tr{id: "#{document.id}"}
  %td= document.tweet
  %td= document.corpus
  %td
    - Sentiment.all.each do |sentiment|
      = link_to sentiment.category, company_document_path(document.company, document, document: {sentiment_id: sentiment.id}), method: :put, remote: true