.btn-group.granularity{:role => "group"}
  %button.btn.btn-default{:type => "button", "data-granularity" => "day"} Daily
  %button.btn.btn-default{:type => "button", "data-granularity" => "hour"} Hourly
  %button.btn.btn-default{:type => "button", "data-granularity" => "minute"} Minutly