.btn-group.granularity{:role => "group"}
  %button.btn.btn-default.active{:type => "button", "data-granularity" => "day"}= t(:daily)
  %button.btn.btn-default{:type => "button", "data-granularity" => "hour"}= t(:hourly)
  %button.btn.btn-default{:type => "button", "data-granularity" => "minute"}= t(:minutly)

:javascript
  $(".granularity button").click(function(){
    $(".granularity button").removeClass("active");
    $(this).addClass("active");
  })