.tabpanel.main-dashboard{:role => "tabpanel"}
  .dashboard-nav
    .container-fluid
      .row
        .col-md-12
          %h1.page-header   
            %span#section-name
              = @company.name
            = render partial: "layouts/date_filters"
          
          .top-dashboard
            %ul.nav.nav-tabs{:role => "tablist"}
              %li.active{:role => "presentation"}
                %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#tab1", :role => "tab"} Сантименты
              %li{:role => "presentation"}
                %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#tab2", :role => "tab"} Прогноз
              %li{:role => "presentation"}
                %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#tab3", :role => "tab"} Что-то
            
  .dashboard-down
    #executive-dashboard.tab-content
      = render partial: "company"