
.kpi {
    padding: 0px;
    margin: 20px auto;
    position: relative;
    width: 100%;
}

.kpi-left {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 58%;
}

.graph-container {
    position: relative;
    width: 100%;
}

.graph-container > div {
    width: 100%;
}

.kpi-right {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 42%;
}


.up_metrics, .down_metrics {
    width: 100%;
}

.up_metrics {
    margin-bottom: 10px;
}

.metric_number {
    font-size: 40px;
    font-weight: 300;
}

.metric_description {
    color: #B8BFB6;
    font-size: 16px;
}

.down_metrics .metric_number {
    font-size: 30px;
    font-weight: 200;
    color: #333;
}

#main-dashboard .kpi {
    border: medium none;
    box-shadow: none;
}

#main-dashboard .kpi, #main-dashboard .kpi .graph-container, #main-dashboard .graph-container > div {
    height: 250px;
}

#main-dashboard a:link, #main-dashboard a:visited, #main-dashboard a:hover {
    color: #333;
}

.dashboard-nav{
    display: inline-block;
    width: 100%;
    margin-bottom: -5px;
    background: none repeat scroll 0% 0% #F7F8FA;
    min-height: 60px;
}


.main-dashboard h1.page-header {
    border-bottom: medium none;
    margin: 20px 0px 10px;
    padding: 0px;
    font-size: 27px;
}

.top-dashboard .nav-tabs {
    border: medium none;
}

.top-dashboard .nav-tabs li {
    margin-right: 20px;
}

.top-dashboard .nav-tabs li.active {
    border-bottom: 5px solid #1ABC9C;
}

.top-dashboard .nav-tabs li a {
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 0px;
    opacity: 0.7;
    border: medium none;
    font-size: 14px;
    font-family: arial;
}

.top-dashboard .nav-tabs li.active a {
    text-shadow: none;
    opacity: 1;
    background: none repeat scroll 0% 0% transparent;
    border: medium none;
}

.dashboard-down {
    border-top: 1px solid #DDD;
}

.tab-content {
    background: none repeat scroll 0% 0% #FFF;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: block;
    height: 0px;
    overflow-y: hidden;
}

.tab-content > .active, .pill-content > .active {
    height: auto;
}

.main-dashboard h4.page-header {
    margin: 10px;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    border: medium none;
}

.kpi h4 i {
    cursor: pointer;
    margin-right: 10px;
}

.summary_metrics {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.summary_metric {
    text-align: center;
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0px 20px;
    min-width: 200px;
}

.summary_metric_number {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
}

.summary_metric:last-child {
    border: medium none;
}

.summary_metric {
    text-align: center;
}

.summary_description {
    text-transform: uppercase;
    line-height: 36px;
}

.granularity {
    font-size: 13px;
    float: right;
}


.top-dashboard .nav-tabs li a:hover {
    border-color: transparent;
    opacity: 1;
    background: none repeat scroll 0% 0% transparent;
}


