.date_filters
  #datepicker.input-daterange.input-group
    %input.input-sm.form-control{:name => "start", :type => "text", value: "#{Date.today.strftime("%B %Y")}"}
    %span.input-group-addon до
    %input.input-sm.form-control{:name => "finish", :type => "text", value: "#{Date.today.strftime("%B %Y")}"}
                
:javascript
  apply_filters(); 

  