%footer#footer.container-fluid
  .row
    .col-md-12.text-center
      %ul       

        %li
          %a{href: "#{new_user_session_path}", alt: "#{t(:login)}"}= t(:login)
        %li
          %a{href: "#{new_user_registration_path}", alt: "#{t(:sign_up)}"}= t(:sign_up)
      %h4 
        &#169; Copyright, 2015
       
